.btn {
	background-color: transparent;
	border: none;
	outline: none;
	font-family: inherit;
	font-weight: 500;
}

.btn--default {
	min-width: 150px;
	font-size: 18px;
	margin: 10px;
	padding: 10px 25px;
	border-radius: 6px;
	border: 1px solid #dbdbdb;
}
