.heading {
  font-family: sans-serif;
  font-size: 72px;
  font-weight: 700;
}

.text--center {
  text-align: center;
}

.hide {
  display: none;
}

.color--danger {
  color: tomato;
}

.color--primary {
  color: deepskyblue;
}
