.modal__overlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0,0,0,.5);
    backdrop-filter: blur(12px);
    display: flex;
    overflow: auto;
    z-index: 10;
}

.modal {
    display: flex;
    margin: auto;
    background-color: #fff;
    width: 100%;
}

.modal--m {
    max-width: 600px;
}