.empty {
    display: flex;
    align-items: center;
    flex-direction: column;
}

.empty__image {
    width: 240px;   
}

.empty__title{
    font-weight: 700;
    font-size: 24px;
    padding: 35px;
}
