.breadcrumbs {
    display: flex;
    margin: 20px 0;
}

.breadcrumbs__item {
    display: flex;
    align-items: center;
    font-size: 14px;
    color: $secondary-color;
}

.breadcrumbs__icon {
    margin: 0 8px;
}